@page "/"
@using CitadellesDotIO.Server.Client.CustomEventArgs
@using CitadellesDotIO.Engine
@using CitadellesDotIO.Server.Client
@using CitadellesDotIO.Server.Models
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager NavManager;


<PageTitle>Index</PageTitle>

@if (this.LobbiesClient != null)
{
    <div id="lobbiesContainer" style="display: @(IsConnected ? "block" : "none");">
        <EditForm Model="@LobbiesClient.Player" OnSubmit="@RegisterPlayer">
            <InputText id="lobbyName" placeholder="Lobby name" @bind-Value="@LobbiesClient.NewLobby.Name"></InputText>
            <button type="submit" @onclick="@LobbiesClient.CreateLobbyAsync">
                <i class="fa-solid fa-square-plus"></i>
                Create Lobby
            </button>
        </EditForm>

        <button @onclick="@LobbiesClient.GetLobbiesAsync">Refresh</button>
        @foreach (Lobby lobby in this.LobbiesClient.Lobbies)
        {
            //<LobbyItem lobby="@lobby" OnJoinButtonClicked="@((args)=>OnJoinedLobby(lobby.Id))"></LobbyItem>
            <LobbyItem lobby="@lobby" OnJoinButtonClicked="@((args)=>OnJoinedLobby(lobby.Id))"></LobbyItem>
        }

        @foreach (Player player in this.LobbiesClient.Players)
        {
            <p>@player.Name</p>
        }

    </div>
}

<div id="connectionContainer" style="display: @(IsConnected ? "none" : "block");">
    <EditForm Model="@this.player" OnSubmit="@RegisterPlayer">
        <InputText id="playerName" placeholder="What is your G@M3R74G ?" @bind-Value="@this.player.Name"></InputText>
        <button type="submit"> Go G@@M!NG</button>
    </EditForm>
</div>




@code {
    LobbiesClient LobbiesClient;
    Player player = new(string.Empty);
    public bool IsConnected { get => this.LobbiesClient != null && this.LobbiesClient.IsConnected; }
    public HubConnectionState State { get; set; } = HubConnectionState.Disconnected;
    public string StateMessage { get; set; }


    private async void OnJoinedLobby(string lobbyId)
    {
        await this.LobbiesClient.JoinLobbyAsync(lobbyId);
        // Gérer l'affichage du lobby rejoint et cacher les autres
    }


    async Task RegisterPlayer()
    {
        await this.Start();
        await this.LobbiesClient.GetLobbiesAsync();
        await this.LobbiesClient.GetPlayersAsync();
    }

    async Task Start()
    {
        if (this.LobbiesClient == null || !this.LobbiesClient.IsConnected)
        {
            this.LobbiesClient = new LobbiesClient(this.player, NavManager.BaseUri, DataChanged, StateChanged);
            this.LobbiesClient.StateChanged += StateChanged;
            await this.LobbiesClient.StartAsync();
            this.State = HubConnectionState.Connected;
            StateMessage = "Lobbies client connected";         
        }
    }

    async Task Stop()
    {
        if (this.LobbiesClient != null && this.LobbiesClient.IsConnected)
        {
            await this.LobbiesClient.StopAsync();
        }
    }

    async void StateChanged(object sender, StateChangedEventArgs e)
    {        
        this.State = e.State;
        this.StateMessage = e.Message;
        await InvokeAsync(StateHasChanged);
    }

    async void DataChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

}