@using CitadellesDotIO.DeckAssembly.EventArgs.DraggableEventArgs
@using CitadellesDotIO.DeckAssembly.EventArgs.Enums
@using CitadellesDotIO.DeckAssembly.Exceptions
@using CitadellesDotIO.DeckAssembly.Model
@using System.Text
@inject IJSRuntime JS;
@inherits CustomComponent;

<CascadingValue Value="this">
    <div class="@OuterClassAttributes" style="@OuterStyleAttribute" id="@Id">
        <RadzenRow>
            <RadzenStack>
                <RadzenRow>
                    Has draghover : @(IsDragHoverTarget ? "True" : "False")
                    <RadzenText />
                </RadzenRow>
                <RadzenRow>
                    Has Dragged Card : @(DraggedCard is not null ? "True" : "False")
                    <RadzenText />
                </RadzenRow>
                <RadzenRow>
                    Has Hovered Card : @(HoveredCard is not null ? "True" : "False")
                    <RadzenText />
                </RadzenRow>
            </RadzenStack>
            <RadzenStack>
                <RadzenRow>
                    Left : @LeftIndex
                </RadzenRow>
                <RadzenRow>
                    Right : @RightIndex
                </RadzenRow>
                <RadzenRow>
                    FutureDropIndex : @FutureDropIndex
                </RadzenRow>
            </RadzenStack>
        </RadzenRow>
        @Id
        <div class="w-100" style="@(wrapperStyle)">
            @foreach (Card card in Cards)
            {
                string key = Id.ToString() + "Card" + card.Id;
                <CardComponent Card=card @key="key" @ref="CardComponentsRefs[card.Id]" />
            }
        </div>
    </div>
</CascadingValue>
@code {
    private static string wrapperStyle => " display: flex;flex-wrap: nowrap;justify-content: center;align-items: center;border: 1px solid #000;overflow-x: visible;overflow-y: visible;";
    [Parameter]
    public string Id { get; set; }

    [CascadingParameter] CardsContainer Container { get; set; }

    [Parameter, EditorRequired]
    public List<Card> InitialCards { get; set; }

    public List<Card> Cards { get; set; }

    private Dictionary<int, CardComponent> CardComponentsRefs { get; set; } = new();

    private DotNetObjectReference<CardListComponent>? self;

    private int? FutureDropIndex { get; set; }
    private int? LeftIndex { get; set; }
    private int? RightIndex { get; set; }

    private Card? HoveredCard { get; set; }
    private Card? DraggedCard { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            self = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("setupDropzoneById", Id, '.' + DropzoneParameters.ClassName, self);
        }
    }

    public override void SelfRefresh()
    {
        foreach (CardComponent? cardComponent in CardComponentsRefs.Values)
        {
            cardComponent?.PreventRender();
        }
        StateHasChanged();
        foreach (CardComponent? cardComponent in CardComponentsRefs.Values)
        {
            cardComponent?.AllowRender();
        }
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParametersSet called in {Id}");

        StateException.ThrowIfNull(InitialCards, nameof(InitialCards));
        StateException.ThrowIfNull(Container, nameof(Container));

        Cards = new List<Card>(InitialCards.Count);
        int i = 0;
        foreach (Card card in InitialCards)
        {
            card.Index = i;
            CardComponentsRefs[i] = null;
            Cards.Add((Card)card.Clone());
            i++;
        }

        StateException.ThrowIfNull(CardComponentsRefs, nameof(CardComponentsRefs));
    }


    #region Draggables Events
    public void OnDraggableHoverStart(int cardIndex)
    {
        if (DraggedCard is not null) return;
        StateException.ThrowIfNotNull(HoveredCard);
        HoveredCard = Cards[cardIndex];
        StateException.ThrowIfNull(HoveredCard);
        (LeftIndex, RightIndex) = DragManager.ComputeLeftRightIndexes(cardIndex, Cards.Count, DragHoverTarget.Self);
        SelfRefresh();
    }

    public void OnDraggableHoverEnd()
    {
        if (DraggedCard is not null) return;
        // TODO : Exception levée ici parfois
        StateException.ThrowIfNull(HoveredCard);
        LeftIndex = default;
        RightIndex = default;
        HoveredCard = null;
        SelfRefresh();
    }

    public void OnDraggableMove(DraggableMoveEventArgs args)
    {
        DraggedCard = Cards[args.DraggableIndex];
        (LeftIndex, RightIndex) = DragManager.ComputeLeftRightIndexes(args.DraggableIndex, Cards.Count, DragHoverTarget.Self);
        // TODO : Bug a régler ici, a voir plus tard
        try
        {
            FutureDropIndex = DragManager.GetFutureIndex(args.DragHoverTarget, DraggedCard.Position, Cards.Select(x => x.Position));
        }
        catch (Exception ex)
        {

        }
        // if(args.DragHoverTarget == DragHoverTarget.Self)
        // {
        //DragManager.SetOverlapFromIndexes(Cards, LeftIndex, RightIndex);
        // }

        Console.WriteLine($"MOVE called in {Id} before StateHasChange");
        SelfRefresh();

        Container.OnDraggableMove(args);
    }

    public async void OnDraggableDragStart(int cardIndex)
    {
        StateException.ThrowIfNotNull(DraggedCard);
        DraggedCard = Cards[cardIndex];
        FutureDropIndex = cardIndex;
        IsHovered = true;
        StateException.ThrowIfNull(DraggedCard);
        DraggableDragStartEventArgs args = new(cardIndex, Id);
        Console.WriteLine($"DRAGSTART called in {Id} before StateHasChange");

        SelfRefresh();

        Container.OnDraggableDragStart(args);
    }

    public void OnDraggableDragEnd()
    {
        bool putBack = true;

        StateException.ThrowIfNull(DraggedCard, nameof(DraggedCard));
        // TODO : Faire la logique de si on veut remettre ou aps la carte avec la ref du composant
        //    // if (putBack)
        // {
        //     DraggedCard.Reset();
        // }
        if (IsDragHoverTarget)
        {
            IsDragHoverTarget = false;
        }
        DraggedCard = null;
        FutureDropIndex = null;
        Console.WriteLine($"DRAGEND called in {Id} before StateHasChange");

        SelfRefresh();
        Container.OnDraggableDragEnd();
    }
    #endregion

    [JSInvokable(nameof(OnDraggableDropzoneEnter))]
    public void OnDraggableDropzoneEnter(DraggableDropzoneEnterEventArgs args)
    {
        InvalidEnumException.ThrowIfEqual<DragHoverTarget>(args.DragHoverTarget, DragHoverTarget.None);
        if (args.DragHoverTarget == DragHoverTarget.Self)
        {
            if (args.DropzoneHoverSource == this.Id)
            {
                // Faire le traitement sur la cardItemList
                this.ToggleDragHover(true);
            }
            else
            {
                // Pas normal ca
            }
        }

        Container.OnDraggableDropzoneEnter(args);
    }

    [JSInvokable(nameof(OnDraggableDropzoneLeave))]
    public void OnDraggableDropzoneLeave(DraggableDropzoneLeaveEventArgs args)
    {
        this.ToggleDragHover(false);
        Container.OnDraggableDropzoneLeave(args);
    }

    private bool IsDragHoverTarget;
    public void ToggleDragHover(bool isDragHoverTarget)
    {
        this.IsDragHoverTarget = isDragHoverTarget;
        Console.WriteLine($"ToggleDragHover called in {Id} with {isDragHoverTarget} parameter before StateHasChange");
        SelfRefresh();
    }
    private async Task HandleDrop()
    {
        // TODO : Gérer le drop ici et dans le container
    }
    private string OuterStyleAttribute => "display: flex;flex-direction: column;justify-content: center;align-items: center;align-self: center;";
    private bool AnchorLeft { get; set; }
    private bool AnchorRight { get; set; }
    private int BaseTransformRatio { get; set; }
    private bool IsHovered = false;

    private string OuterClassAttributes
    {
        get
        {
            StringBuilder stringBuilder = new();
            stringBuilder.Append(DropzoneParameters.ClassName);
            stringBuilder.Append(" w-100 h-100 m-0 ");
            foreach (string cssClass in CssClasses)
            {
                stringBuilder.Append(cssClass).Append(' ');
            }
            if (IsHovered)
            {
                stringBuilder.Append("drop-available ");
                stringBuilder.Append("rz-border-base-300");
            }

            return stringBuilder.ToString();
        }
    }


    [Parameter]
    public List<string> CssClasses { get; set; } = new() { };

    [Parameter]
    public List<string> CardClasses { get; set; } = new();
}
