@using CitadellesDotIO.Engine
<EditForm Model="@this.Player" OnSubmit="@RegisterButtonClicked" class="">
    <DataAnnotationsValidator />
    <div class="">
        <div class="input-group">
            <div class="input-group-text">
                <i class="fa-solid fa-id-card-clip"></i>
            </div>
            <InputText id="playerName"
                       class="form-control"
                       placeholder="What is your G@M3R74G ?"
                       @bind-Value="@this.Player.Name"
                       @oninput="@ValidateGamerTag"></InputText>
            <button type="submit" disabled="@(!this.IsGamerTagValid)" class="btn btn-primary"> Go G@@M!NG</button>
        </div>
    </div>
    <div class="input-group error-messages-container">
        <ValidationMessage  For="()=>Player.Name" />
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback OnRegisterPlayerClicked { get; set; }

    [Parameter]
    public Player Player { get; set; }

    public bool IsGamerTagValid = false;
    public void ValidateGamerTag() => this.IsGamerTagValid = EC.Validate();
    private EditContext EC { get; set; }


    private async Task RegisterButtonClicked()
    => await OnRegisterPlayerClicked.InvokeAsync();

    protected override async Task OnInitializedAsync()
    {
        EC = new EditContext(this.Player);
        await base.OnInitializedAsync();
    }
}